* {
	margin: 0 auto;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: sans-serif;
	width: 70%;
}

header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 15px;
}

h1 {
	font-size: 18px;
	font-weight: 700;
}

p {
	font-size: 14px;
}

div:not(:first-child) {
	display: inline-block;
	width: auto;
	margin-top: 14px;
}

div a {
	display: inline-block;
	padding: 16px 20px;
	border-radius: 8px;
	background-color: rgb(31, 30, 30);
	text-decoration: none;
	color: white;
}