extends index 
block title
	h1 Reset your password
block description
	div
		p #{login}, please take a moment to reset your password by clicking the button below:
	div
		a(href=`${process.env.CLIENT_URL}/password-reset?confirmToken=${token}`) Reset your password
	div
		p This link is only available for an hour.

