extends index 
block title
	h1 Your password reset needs to be confirmed
block description
	div
		p #{login}, please take a moment to confirm your password reset by clicking the button below:
	div
		a(href=`${process.env.CLIENT_URL}/confirm-password?confirmToken=${token}`) Confirm your password reset
	div
		p This link is only available for an hour.

